In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('monthly_co2.csv', index_col=[0, 1])
df.head()

               co2
year month
1958 3      315.70
     4      317.45
     5      317.51
     6      317.24
     7      315.86